/* ---------------------BROWSE-------------------------------- */
/* a:hover {
  color: transparent;
} */

.ls20 {
  letter-spacing: 2px;
}

#side-middle {
  display: flex;
  justify-content: space-between;
}

.list_checked {
  width: 23%;
}

.list_checked ul {
  display: none;
}

.list_checked input {
  display: none;
}

.list_checked ul.show {
  display: block;
  color: white !important;
}

.list_checked ul.show a:focus {
  color: white !important;
}

.list_checked ul.show .clicked {
  background-color: #3b66f5;
  color: white !important;
}

.list_checked .title {
  margin-bottom: 15px;
  border-bottom: 1px solid #eaebfb;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.list_checked .title:first-child {
  border: none;
}

.list_checked .title i {
  font-size: 22px;
  transition: 0.2s;
  padding-bottom: 15px;
}

.list_checked .title i.up {
  transform: rotate(180deg);
  padding-bottom: 0;
}

.list_checked .genre p {
  background-color: #eeeff9;
  padding: 5px;
  border-radius: 4px;
  display: flex;
}

.list_checked p label {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 4px 10px;
  width: 50%;
  font-size: 14px;
  color: rgba(18, 18, 23, 0.9);
  font-weight: 600;
  cursor: pointer;
  min-width: fit-content;
  text-align: center;
}

.list_checked ul.show {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 97%;
  font-size: 17px;
}

.list_checked .list_male.show,
.list_checked .list_female.show {
  padding: 15px 10px;
}

.list_comic.show,
.list_fanfic.show {
  padding: 0 10px 10px 10px;
}

.list_checked ul li {
  width: 50%;
  padding-bottom: 2px;
}

.list_checked ul li a {
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  display: inline-block;
  font-weight: 400;
  color: rgba(18, 18, 23, 0.9) !important;
}

.list_checked ul li a {
  color: rgba(18, 18, 23, 0.9);
  transition: 0.2s ease;
  border-radius: 5px;
  font-weight: 500px;
  padding: 5px 8px;
}

.list_checked ul li a:hover {
  background-color: #3b66f5;
  color: white !important;
}

.list_checked form .genre {
  display: none;
}

.list_checked form .genre._on {
  display: block;
}

.function {
  width: 77%;
}

.function h3 {
  border-bottom: 1px solid #eaebfb;
  padding-bottom: 15px;
}

.function .sort h3 {
  padding: 5px 0;
}

.function h5 {
  padding: 8px 0 0 0;
}

.function .filter .content {
  display: flex;
}

.function .list_content {
  padding: 8px 0;
}

.function .list_content input {
  display: none;
}

.function .list_content strong {
  padding: 4px 11px;
  border-style: inset;
  border: 1px solid #dee1ff;
  border-radius: 50px;
  border-image: initial;
  color: rgba(18, 18, 23, 1);
  display: inline-block;
  font-weight: 400;
  margin-right: 5px;
  cursor: pointer;
}

.function .list_content input:checked~strong {
  color: #3b66f5;
  background-color: #d0deff;
}

.list_comics {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list_comics .comic {
  display: flex;
  width: 48%;
  margin-bottom: 15px;
}

.list_comics .comic a {
  width: 25%;
}

.list_comics .comic img {
  width: 100%;
  border-radius: 5px;
  transition: 0.3s ease;
}

.list_comics .comic img:hover {
  transform: scale(1.1);
}

.list_comics .comic .comic_info {
  margin: 4px 0 0 15px;
  width: 65%;
}

.list_comics .comic .comic_info .tags {
  display: flex;
  width: 100%;
  height: 10px;
}

.list_comics .comic .comic_info .tags a {
  font-size: .75rem;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3b66f5 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list_comics .comic .comic_info .tags a {
  min-width: max-content;
  margin-left: 5px;
}

.list_comics .comic .comic_info .tags a:first-child {
  margin-left: 0;
}

.list_comics .comic .comic_info h4 {
  margin: 4px 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.15px;
  font-size: 1rem;
}

.list_comics .comic .comic_info .tags a:hover,
.list_comics .comic .comic_info h4:hover {
  text-decoration: underline;
}

.list_comics .comic .comic_info .text {
  line-height: 20px;
}

.list_comics .comic .comic_info .text p {
  -webkit-line-clamp: 2;
}

.list_comics .comic .comic_info .rate {
  line-height: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_comics .comic .comic_info .rate #icon {
  color: #fff;
  background-color: var(--btn_color);
  border-radius: 50%;
  padding: 2px 3px
}

.list_comics .comic .comic_info .rate #text {
  color: var(--btn_color);
  font-weight: 550;
}

.list_comics .comic .comic_info .rate i:last-child {
  margin-left: 10px;
  padding-left: 5px;
}

.list_comics .comic .comic_info .rate i {
  display: flex;
}

.list_comics .comic .comic_info .rate i p {
  margin: 0px 5px;
}

.list_comics .load_comic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
}

.list_comics .load_comic h2 {
  animation: spinner-border .75s linear infinite;
  border-radius: 5px;
}

@keyframes a_load_comic {
  0% {
    transform: rotate(90deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  body {
    margin-left: 5px;
  }
}

#list_tag {
  display: none;
}